.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea/
.vscode/
.history

package-lock.json
source/leancloud.memo
upload_overwrite.txt
_assets/*
!_assets/original/
!_assets/compressed/
_assets/original/*
_assets/compressed/*
!_assets/original/upload.json
!_assets/compressed/upload.json
!_assets/compressed/download.json

